<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editalumni</title>
    <link rel="stylesheet" href="assets/css/EditProfile.css">
     <!-- <link href="assets/css/style.css" rel="stylesheet">  -->

    	<!-- Favicons -->
        <link href="{% static 'blog/assets/img/favicon.png'%}" rel="icon">
        <link href="{% static 'blog/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
      
        <!-- Vendor CSS Files -->
        <link href="{% static 'blog/assets/vendor/animate.css/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'blog/assets/vendor/aos/aos.css'%}" rel="stylesheet">
        <link href="{% static 'blog/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
        <link href="{% static 'blog/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
        <link href="{% static 'blog/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
        <link href="{% static 'blog/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
        <link href="{% static 'blog/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
      
        <!-- Template Main CSS File -->
       
      
  
</head>
<!-- <body class="img js-fullheight"  style="background-image: linear-gradient( rgba(102, 155, 184, 0.8), rgba(33, 82, 106, 0.6)), url(assets/img/hero-bg.jpg);"> -->
    <div class="container-xl px-4 mt-4">
       <h1 style="text-align: center;margin-top:10px;font-family:sans-serif">Student Details</h1>

        <hr class="mt-0 mb-4">
        <div class="row">
           
            <div class="col-xl-12">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        
                            <!-- --------------------------------------FORM------------------------------------------ -->
                         
                            <form>  

                                <div class="col-xl-12  ">
               
                                    <div class="card mb-6 mb-xl-0"style="height: 160px;">
                                    
                                        <div class="card-body text-center"  >
                                           
                                        
                                            <div class="small font-italic text-muted mb-4" style="font-weight: bold;">Upload Your Profile Picture</div>
                                        <!-- <div class="file btn btn-lg btn-primary" style=" position: relative;overflow: hidden">
                                                Upload
                                                <input style=" position: absolute;
                                                font-size: 50px;
                                                opacity: 0;
                                                right: 0;
                                                top: 0;"type="file" id="file" name="file/">
                                            </div> -->
                                            <div>
                                        
                                              <input type="file" id="file" name="">
                                            
                                            </div>
                                        </div>
                                    </div>
                            </div><br>
                           
   
                           
                            <div class="row gx-3 mb-3"style="font-weight:bold">
                               
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">Father's Name</label>
                                    <input class="form-control" id="fathername" type="text" placeholder="Enter your Father's Name" >
                                </div>
                             
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Mother's Name</label>
                                    <input class="form-control" id="mother name" type="text" placeholder="Enter your Mother's Name" >
                                </div>
                            </div>
                            
                            <div class="row gx-3 mb-3"style="font-weight:bold">
                            
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">City</label>
                                    <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your City" >
                                </div>
                            
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">State</label>
                                    <input class="form-control" id="inputLocation" type="text" placeholder="Enter your State" >
                                
                                </div>
                               
                            </div>
                            <div class="row gx-3 mb-3"style="font-weight:bold">
                               
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Roll Number</label>
                                    <input class="form-control" id="inputOrgName" type="text" placeholder="Enter Your college Roll-Number" >
                                </div>
                               
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputEmailAddress">Stream</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Stream</option>
                                            <option value="1">Computer Science and Engineering</option>
                                            <option value="2">Civil Engineering</option>
                                            <option value="3">Electrical Engineering</option>
                                            <option value="4">Mechanical Engineering</option>
                                            <option value="5">Electronics and Communication Engineering</option>
                                        
                                        </select>
                                        </div>
                               
                            </div>
                            <div class="row gx-3 mb-3"style="font-weight:bold">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                    <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email-address" >
                                    
                                
                                </div> 
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Date Of Birth</label>
                                    <input class="form-control" type="date" id="birthday" name="birthday"> </div>
                                

                               
                            </div>
                                



                            <div class="row gx-3 mb-3"style="font-weight:bold">
                             
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" >
                                </div>
                                <div class="col-md-4">
                                        <label class="small mb-1" for="inputEmailAddress">Your Gender</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Gender</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        
                                        </select>
                                </div>
                            
                            </div>



                            <div class="row gx-3 mb-3"style="font-weight:bold">
                                <div class="col-md-12">
                                    <label class="small mb-1" for="inputEmailAddress">Adress</label>
                                    <input class="form-control" id="inputEmailAddress" type="address" placeholder="Enter your address" >
                                    
                                
                                </div> 
                                
                               
                            </div>
                          
                          

                            <div class="row gx-3 mb-3"style="font-weight:bold">
                                
                                 <div class="col-md-12">
                                    <label class="small mb-1" for="inputEmailAddress">Skill</label>
                                    <input class="form-control" style="height:100px;" id="inputEmailAddress" type="joblocation" placeholder="Enter your skills" >
                                    
                                
                                </div> 
                               
                            </div>
                            <div class="row gx-3 mb-3"style="font-weight:bold">
                                <div class="col-md-12">
                                    <label class="small mb-1" >Bio</label>
                                    <input class="form-control" id="inputEmailAddress" type="bio" placeholder="Enter Your Bio" style="height:100px;" >
                                    
                                
                                </div> 
                                
                               
                            </div>


                               
                           

                          
                           
                            <button class="btn btn-primary" type="submit">Save changes</button>


                        </form>
                     </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>